.header {
   display: none;

   .container {
      max-width: 870px;
      margin: 0 auto;
   }

   &__body {
      padding: 40px 0px;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
   }

   &__top-language {
      :first-child {
         margin: 0;
      }
      a {
         margin-left: 10px;

         color: black;
         &:hover {
            background-color: #000;
            color: blanchedalmond;
         }
      }
   }

   &__top-centertext {
font-family: Bebas;
font-size: 8px;
line-height: 25px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1.0em;
color: #000000;
letter-spacing: 0.74em;
   }

   &__top-endtext {
      font-size: 15px;
      line-height: 25px;
      font-weight: 600;
      text-transform: uppercase;
      a{
         color: #000000;
         text-decoration: underline;
      }
      
   }

   &__menu {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      
   }

   &__menu-logo {
         
      img{
      
      position: absolute;
      top: 0;
      left: 38.5%;}

   }

   &__menu-link {
      text-align: center;
      :nth-child(3){
         margin-right: 70px;
         padding-right: 70px;
      }
      :nth-child(4){
         margin-left: 70px;
         padding-left: 70px;}
         :last-child{
            margin: 0;
         }
      a{
         margin-right: 45px;
         text-transform: uppercase;
         color: #000;
         font-weight: 600;
      }
   }

   &__bottom {
      text-align: center;
      font-weight: 600;
      letter-spacing: 8px;
      text-transform: uppercase;
      padding-top: 30px;
   }
}

