.private {

   &__body {
   }

   &__body-row {
      border: 1px solid #000;

      
   }

   &__body-columns {
      display: flex;
      justify-content: space-between;
   }

   &__left-column {
      width: 100%;
   }

   &__right-column {
      
   }

   &__title {
   }

   &__subtitle {
   }

   &__btns {

   }
}
