@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.header .container {
  max-width: 870px;
  margin: 0 auto;
}

.header__body {
  padding: 40px 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header__top-language :first-child {
  margin: 0;
}

.header__top-language a {
  margin-left: 10px;
  color: black;
}

.header__top-language a:hover {
  background-color: #000;
  color: blanchedalmond;
}

.header__top-centertext {
  font-family: Bebas;
  font-size: 8px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.0em;
  color: #000000;
  letter-spacing: 0.74em;
}

.header__top-endtext {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__top-endtext a {
  color: #000000;
  text-decoration: underline;
}

.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.header__menu-logo img {
  position: absolute;
  top: 0;
  left: 38.5%;
}

.header__menu-link {
  text-align: center;
}

.header__menu-link :nth-child(3) {
  margin-right: 70px;
  padding-right: 70px;
}

.header__menu-link :nth-child(4) {
  margin-left: 70px;
  padding-left: 70px;
}

.header__menu-link :last-child {
  margin: 0;
}

.header__menu-link a {
  margin-right: 45px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
}

.header__bottom {
  text-align: center;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-top: 30px;
}

.private__body-row {
  border: 1px solid #000;
}

.private__body-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.private__left-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.private__right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-color: black;
  padding: 80px 290px 0px 100px;
}

.private__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: AkzidenzGroteskBQ-BdCnd;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -3px;
  color: #ffffff;
}

.private__subtitle {
  font-family: PTSans;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  padding: 30px 0px 50px 0px;
}

.private__btns a {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fffffe;
  padding: 10px 20px 10px 20px;
}

.private__btns a:hover {
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  color: #000;
}

.catering {
  padding: 100px 0px;
}

.catering .container {
  max-width: 880px;
  margin: 0 auto;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.column__image {
  padding-bottom: 20px;
}

.column__title {
  font-family: AkzidenzGroteskBQ-BdCnd;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  padding-bottom: 30px;
}

.column__subtitle {
  font-family: PTSans;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #000000;
  padding-bottom: 20px;
}

.column__btn a {
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  padding: 20px 20px;
  background-color: #fff;
}

.column__btn a:hover {
  background-color: black;
  color: #fff;
}

.column__link a {
  color: #000000;
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}